image:
  repository: ghcr.io/port-labs/port-agent
  pullPolicy: IfNotPresent
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

controlThePayloadConfig: ""
secret:
  annotations: {}
  name: ""
  useExistingSecret: false

env:
  normal:
    GITLAB_URL: "https://gitlab.com/"
    STREAMER_NAME: "KAFKA"
    PORT_ORG_ID: ""
    KAFKA_CONSUMER_GROUP_ID: ""
    KAFKA_CONSUMER_BROKERS: "b-1-public.publicclusterprod.t9rw6w.c1.kafka.eu-west-1.amazonaws.com:9196,b-2-public.publicclusterprod.t9rw6w.c1.kafka.eu-west-1.amazonaws.com:9196,b-3-public.publicclusterprod.t9rw6w.c1.kafka.eu-west-1.amazonaws.com:9196"
    KAFKA_CONSUMER_SECURITY_PROTOCOL: "SASL_SSL"
    KAFKA_CONSUMER_AUTHENTICATION_MECHANISM: "SCRAM-SHA-512"
    KAFKA_CONSUMER_AUTO_OFFSET_RESET: "largest"
  secret:
    PORT_CLIENT_ID: ""
    PORT_CLIENT_SECRET: ""

podAnnotations: {}

podSecurityContext: {}
# Example 
  # runAsGroup: 1001
  # runAsUser: 1001
  # fsGroup: 1001
  # fsGroupChangePolicy: "OnRootMismatch"
containerSecurityContext: {}
# Example 
  # runAsGroup: 1001
  # runAsUser: 1001
  # allowPrivilegeEscalation: false



rolloutStrategy: "Recreate"

resources:
  requests:
    memory: "128Mi"
    cpu: "100m"
  limits:
    memory: "256Mi"
    cpu: "200m"

nodeSelector: {}

tolerations: []

affinity: {}

selfSignedCertificate:
  enabled: false
  certificate: ""
