nameOverride: ""
fullnameOverride: ""

port:
  clientId: ""
  clientSecret: ""

  baseUrl: https://api.getport.io

podAnnotations: {}

podServiceAccount:
  name: null

extraEnv:
# Example
#   - name: HTTPS_PROXY
#     value: http://myproxy.com

podSecurityContext: {}
# Example
# runAsGroup: 1001
# runAsUser: 1001
# fsGroup: 1001
# fsGroupChangePolicy: "OnRootMismatch"
containerSecurityContext: {}
# Example
# runAsGroup: 1001
# runAsUser: 1001
# allowPrivilegeEscalation: false

extraInitContainers: []

extraVolumes: []

extraVolumeMounts: []

workload:
  kind: "Deployment" # Deployment, CronJob

  deployment:
    rolloutStrategy: "Recreate"

  cron:
    # number of minutes to wait before cancelling the resync
    resyncTimeoutMinutes: null
    resyncOnInstall: true
    resyncOnUpgrade: true
    suspend: false

resources:
  requests:
    memory: "512Mi"
    cpu: "200m"
  limits:
    memory: "1024Mi"
    cpu: "500m"

nodeSelector: {}

tolerations: []

affinity: {}

extraLabels: {}

imageRegistry: "ghcr.io/port-labs"

imagePullPolicy: Always

imagePullSecrets: []

initializePortResources: true

allowEnvironmentVariablesJqAccess: true

scheduledResyncInterval: null
# Example
#  scheduledResyncInterval: 60 # minutes - Used for Deployment workload.kind
#  scheduledResyncInterval: "*/60 * * * *" # cron expression - Used for CronJob workload.kind

terminationGracePeriodSeconds: 30

clientTimeout: null

sendRawDataExamples: true

secret:
  create: true
  name: ""
  #  name:
  #    - "x"
  #    - "y"
  #    - "c"

service:
  enabled: true
  type: ClusterIP
  port: 8000
  annotations: {}

ingress:
  enabled: false
  className: ""
  annotations: {}
  host: null
  path: /
  pathType: Prefix
  tls: []
  # Example
  #   - secretName: my-secret
  #     hosts:
  #       - "my-host.my-domain.com"

integration:
  identifier: ""
  version: ""
  type: ""
  config: {}
  secrets: {}
  eventListener:
    type: "KAFKA"
    brokers: "b-1-public.publicclusterprod.t9rw6w.c1.kafka.eu-west-1.amazonaws.com:9196,b-2-public.publicclusterprod.t9rw6w.c1.kafka.eu-west-1.amazonaws.com:9196,b-3-public.publicclusterprod.t9rw6w.c1.kafka.eu-west-1.amazonaws.com:9196"

selfSignedCertificate:
  enabled: false
  certificate: ""
  secret:
    name: ""
    key: crt
    useExistingSecret: false

liveEvents:
  worker:
    enabled: false
    replicaCount: 1
    resources:
      requests:
        memory: "512Mi"
        cpu: "200m"
      limits:
        memory: "1024Mi"
        cpu: "500m"

livenessProbe:
  enabled: true
#  initialDelaySeconds: 30
#  periodSeconds: 10
#  timeoutSeconds: 5
#  failureThreshold: 3

readinessProbe:
  enabled: true
#  initialDelaySeconds: 30
#  periodSeconds: 10
#  timeoutSeconds: 5
#  failureThreshold: 3
#  successThreshold: 2
