{{- if eq .Values.workload.kind "CronJob" }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "port-ocean.cron.job-query-rbac-prefix" . }}-sa
  namespace: {{ .Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ include "port-ocean.cron.job-query-rbac-prefix" . }}-role
rules:
  - apiGroups: [ "batch" ]
    resources: [ "cronjobs" ]
    verbs: [ "get" ]
  - apiGroups: [ "batch" ]
    resources: [ "jobs" ]
    verbs: [ "list", "get", "patch", "create" ]
  - apiGroups: [ "" ]
    resources: [ "pods" ]
    verbs: [ "get", "list", "watch" ]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "port-ocean.cron.job-query-rbac-prefix" . }}-rolebinding
  namespace: {{ .Release.Namespace }}
subjects:
  - kind: ServiceAccount
    name: {{ include "port-ocean.cron.job-query-rbac-prefix" . }}-sa
    namespace: {{ .Release.Namespace }}
roleRef:
  kind: Role
  name: {{ include "port-ocean.cron.job-query-rbac-prefix" . }}-role
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "port-ocean.cron.job-query-rbac-prefix" . }}-sa-token
  namespace: {{ .Release.Namespace }}
  annotations:
    kubernetes.io/service-account.name: {{ include "port-ocean.cron.job-query-rbac-prefix" . }}-sa
type: kubernetes.io/service-account-token
{{- end }}