{{- if eq .Values.workload.kind "CronJob" }}
{{- $maxRunTimeSeconds := "" }}
{{- if (.Values.workload.cron).resyncTimeoutMinutes }}
{{- $minute := 60 }}
{{- $maxRunTimeSeconds = (mul (.Values.workload.cron).resyncTimeoutMinutes $minute )}}
{{- end }}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "port-ocean.cronJobName" . }}
  labels:
    {{- include "port-ocean.labels" . | nindent 4 }}
spec:
  failedJobsHistoryLimit: {{ .Values.workload.cron.failedJobsHistoryLimit }}
  successfulJobsHistoryLimit: {{ .Values.workload.cron.successfulJobsHistoryLimit }}
  {{- $scheduleValue := (.Values.scheduledResyncInterval | default "0 */1 * * *") | toString }}
  schedule: {{ if regexMatch "^[\"'].*[\"']$" $scheduleValue }}{{ $scheduleValue }}{{ else }}{{ $scheduleValue | squote }}{{ end }}
  suspend: {{ .Values.workload.cron.suspend }}
  concurrencyPolicy: {{ .Values.scheduleConcurrencyPolicy | default "Replace" }}
  jobTemplate:
    metadata:
      generateName: {{ include "port-ocean.metadataNamePrefixShort" . }}-
      namespace: {{ .Release.Namespace }}
      labels:
        app: {{ include "port-ocean.cronJobName" . }}
        integrationUniqueCronKey: {{ .Release.Name }}
        {{- include "port-ocean.selectorLabels" . | indent 8 }}
    spec:
      backoffLimit: 0
      {{- if $maxRunTimeSeconds }}
      activeDeadlineSeconds: {{ $maxRunTimeSeconds }}
      {{- end }}
      template:
        metadata:
          {{- with .Values.podAnnotations }}
          annotations:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          labels:
            app: {{ include "port-ocean.cronJobName" . }}
            {{- include "port-ocean.labels" . | nindent 12 }}
            {{- with .Values.podLabels }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
        spec:
          {{- if or .Values.podServiceAccount.name .Values.podServiceAccount.create }}
          serviceAccountName: {{ include "port-ocean.serviceAccountName" . }}
          {{- end }}
          restartPolicy: Never
          {{- with .Values.imagePullSecrets }}
          imagePullSecrets:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          securityContext:
            {{- if .Values.podSecurityContext }}
            {{- toYaml .Values.podSecurityContext | nindent 12 }}
            {{- end }}
          initContainers:
            {{- if .Values.extraInitContainers }}
            {{- tpl (toYaml .Values.extraInitContainers) . | nindent 12 }}
            {{- end }}
            {{- if .Values.postgresql.enabled }}
            - name: wait-for-postgresql
              image: {{ .Values.postgresql.image }}
              command:
                - sh
                - -c
                - |
                  until pg_isready -h {{ .Release.Name }}-postgresql -p 5432 -U {{ .Values.postgresql.global.postgresql.auth.username }}; do
                    echo "Waiting for PostgreSQL to be ready..."
                    sleep 2
                  done
                  echo "PostgreSQL is ready!"
            {{- end }}
            - name: terminate-old-resync-jobs
              image: {{ .Values.workload.cron.kubectlImage }}
              env:
                - name: JOB_NAME
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.labels['job-name']
                - name: TOKEN
                  valueFrom:
                    secretKeyRef:
                      name: {{ include "port-ocean.cron.job-query-rbac-prefix" . }}-sa-token
                      key: token
              command:
                - /bin/bash
                - -c
                - |
                  #!/bin/bash
                  echo "Starting init container"
                  LABEL_SELECTOR="integrationUniqueCronKey={{ .Release.Name }}"
                  NAMESPACE="{{ .Release.Namespace }}"
                  CURRENT_JOB_NAME=$(JOB_NAME)
                  DEADLINE=0  # 30 seconds deadline for the jobs to terminate

                  echo "kubectl get jobs -l ${LABEL_SELECTOR} -o=json | jq -r \".items[] | select(.status.active > 0) | select(.metadata.name != \"$CURRENT_JOB_NAME\") | .metadata.name\""
                  JOBS=$(kubectl get jobs -l ${LABEL_SELECTOR} -o=json --token=$TOKEN | jq -r ".items[] | select(.status.active > 0) | select(.metadata.name != \"$CURRENT_JOB_NAME\") | .metadata.name")
                  if [ -n "$JOBS" ]; then
                    echo "Found jobs: $JOBS"
                    for JOB in $JOBS; do
                      echo "Setting deadline for job: $JOB"
                      kubectl patch job $JOB -n ${NAMESPACE} -p "{\"spec\":{\"activeDeadlineSeconds\":$DEADLINE}, \"metadata\":{\"labels\":{\"canceled\": \"$CURRENT_JOB_NAME\"}}}" --token=$TOKEN
                    done
                    for JOB in $JOBS; do
                      echo "Waiting for job $JOB to terminate"
                      kubectl wait --for=delete pod --selector=job-name=$JOB --timeout=60s -n ${NAMESPACE} --token=$TOKEN || (echo "Job $JOB did not terminate in time. Cannot start new job: $CURRENT_JOB_NAME" && exit 1)
                      echo "Done"
                    done
                  else
                    echo "No running resync jobs found. Starting new job: $CURRENT_JOB_NAME"
                  fi

                  # Rollout existing deployments if they are not running with the latest image
                  rollout_if_image_mismatch() {
                    local DEPLOYMENT_NAME=$1

                    echo "Checking if ${DEPLOYMENT_NAME} exists"
                    if ! kubectl get deployment ${DEPLOYMENT_NAME} -n ${NAMESPACE} --token=$TOKEN > /dev/null 2>&1; then
                      echo "Deployment ${DEPLOYMENT_NAME} does not exist. Skipping rollout restart."
                      return
                    fi

                    echo "Checking if ${DEPLOYMENT_NAME} pods are running with the latest image"
                    DEPLOYMENT_IMAGE_SHA=$(kubectl get pods -l app=${DEPLOYMENT_NAME} -o go-template='{{range .items}}{{range .status.containerStatuses}}{{if eq .name {{ include "port-ocean.containerName" . }} }}{{.imageID}}{{"\n"}}{{end}}{{end}}{{end}}' | sed 's|.*@||')
                    LATEST_IMAGE_SHA=$(docker inspect {{ include "port-ocean.image" . }} --format '{{index .RepoDigests 0}}' | sed 's|.*@||')

                    if [ "$DEPLOYMENT_IMAGE_SHA" != "$LATEST_IMAGE_SHA" ]; then
                      echo "Deployment $DEPLOYMENT_NAME is not running with the latest image. Rolling out restart."
                      kubectl rollout restart deployment $DEPLOYMENT_NAME -n ${NAMESPACE} --token=$TOKEN
                    fi
                  }

                  rollout_if_image_mismatch {{ include "port-ocean.liveEvents.deploymentName" . }}
                  rollout_if_image_mismatch {{ include "port-ocean.actionsProcessor.deploymentName" . }}

                  echo "Exiting init container"
          containers:
          - name: {{ include "port-ocean.containerName" . }}
            imagePullPolicy: {{ .Values.imagePullPolicy }}
            image: {{ include "port-ocean.image" . }}
            {{- if .Values.service.enabled }}
            securityContext:
              {{- if .Values.containerSecurityContext }}
              {{- toYaml .Values.containerSecurityContext | nindent 14 }}
              {{- end }}
            resources:
              {{- if .Values.resources }}
              {{- toYaml .Values.resources | nindent 14 }}
              {{- end }}
            ports:
            - containerPort: {{.Values.service.port}}
              protocol: TCP
            {{- end }}
            env:
            {{- if .Values.selfSignedCertificate.enabled }}
              - name: SSL_CERT_FILE
                value: /etc/ssl/certs/ca-certificates.crt
              - name: REQUESTS_CA_BUNDLE
                value: /etc/ssl/certs/ca-certificates.crt
            {{- end }}
            {{- if .Values.extraEnv }}
              {{- tpl (toYaml .Values.extraEnv) . | nindent 14 }}
            {{- end }}
            {{- if .Values.postgresql.enabled }}
          - name: OCEAN__DATABASE__HOST
            value: {{ include "port-ocean.name" . }}-postgresql
          - name: OCEAN__DATABASE__PORT
            value: '5432'
          - name: OCEAN__DATABASE__NAME
            value: {{ .Values.postgresql.global.postgresql.auth.database }}
          - name: OCEAN__DATABASE__USERNAME
            value: {{ .Values.postgresql.global.postgresql.auth.username }}
          - name: OCEAN__DATABASE__PASSWORD
            value: {{ .Values.postgresql.global.postgresql.auth.password }}
            {{- end }}
            envFrom:
              - configMapRef:
                  name: {{ include "port-ocean.configMapName" . }}
              {{- include "port-ocean.additionalSecrets" . | nindent 14 }}
            volumeMounts:
            {{- if .Values.extraVolumeMounts }}
              {{- tpl (toYaml .Values.extraVolumeMounts) . | nindent 14 }}
            {{- end }}
            {{- if .Values.selfSignedCertificate.enabled }}
              - name: certificates
                mountPath: /usr/local/share/ca-certificates/cert.crt
                subPath: cert.crt
                readOnly: true
            {{- end }}
            {{- if eq .Values.integration.processExecution.mode "multi_process" }}
              - name: prometheus-metrics
                mountPath: "{{ .Values.integration.processExecution.prometheusMultiProcessDir }}"
            {{- end }}
            {{- if (.Values.livenessProbe).enabled}}
            livenessProbe:
              httpGet:
                path: /docs
                port: {{.Values.service.port}}
              initialDelaySeconds: {{ default 10 .Values.livenessProbe.initialDelaySeconds }}
              periodSeconds: {{ default 10 .Values.livenessProbe.periodSeconds }}
              timeoutSeconds: {{ default 5 .Values.livenessProbe.timeoutSeconds }}
              successThreshold: 1
              failureThreshold: {{ default 3 .Values.livenessProbe.failureThreshold }}
            {{- end }}
            {{- if (.Values.readinessProbe).enabled}}
            readinessProbe:
              httpGet:
                path: /docs
                port: {{.Values.service.port}}
              initialDelaySeconds: {{ default 10 .Values.readinessProbe.initialDelaySeconds }}
              periodSeconds: {{ default 10 .Values.readinessProbe.periodSeconds }}
              timeoutSeconds: {{ default 5 .Values.readinessProbe.timeoutSeconds }}
              successThreshold: {{ default 1 .Values.readinessProbe.successThreshold }}
              failureThreshold: {{ default 3 .Values.readinessProbe.failureThreshold }}
            {{- end }}
          volumes:
            {{- if .Values.extraVolumes }}
            {{- tpl (toYaml .Values.extraVolumes) . | nindent 12 }}
            {{- end }}
            {{- if eq .Values.integration.processExecution.mode "multi_process" }}
            - name: prometheus-metrics
              emptyDir: {}
            {{- end }}
            {{- if and .Values.selfSignedCertificate.enabled .Values.selfSignedCertificate.secret.useExistingSecret }}
            - name: certificates
              projected:
                sources:
                  - secret:
                      name: {{ .Values.selfSignedCertificate.secret.name }}
                      items:
                        - key: {{ .Values.selfSignedCertificate.secret.key }}
                          path: cert.crt
            {{- else if .Values.selfSignedCertificate.enabled }}
            - name: certificates
              projected:
                sources:
                  - secret:
                      name: {{ include "port-ocean.selfSignedCertName" . }}
                      items:
                        - key: crt
                          path: cert.crt
            {{- end }}
          {{- with .Values.nodeSelector }}
          nodeSelector:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.affinity }}
          affinity:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.tolerations }}
          tolerations:
            {{- toYaml . | nindent 12 }}
          {{- end }}
{{- end }}
