{{- $shouldResyncOnInstall := and (.Values.workload.cron.resyncOnInstall) (eq .Release.Revision 1) }}
{{- $shouldResyncOnUpgrade := and (.Values.workload.cron.resyncOnUpgrade) (gt .Release.Revision 1) }}
{{- if and (eq .Values.workload.kind "CronJob") (or $shouldResyncOnInstall $shouldResyncOnUpgrade) }}
apiVersion: batch/v1
kind: Job
metadata:
  annotations:
    helm.sh/hook: post-install, post-upgrade
    helm.sh/hook-delete-policy: hook-succeeded, hook-failed
  name: {{ include "port-ocean.installationResyncJobName" . }}
spec:
  ttlSecondsAfterFinished: 600
  activeDeadlineSeconds: 180
  backoffLimit: 0
  template:
    spec:
      activeDeadlineSeconds: 180
      containers:
        - name: kubectl
          image: {{ .Values.workload.cron.kubectlImage }}
          command: [ "sh", "-c" ]
          env:
            - name: TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ include "port-ocean.cron.job-query-rbac-prefix" . }}-sa-token
                  key: token
          args:
            - kubectl create job --from=cronjob/{{ include "port-ocean.cronJobName" . }} {{ include "port-ocean.installationTriggeredJobName" . }} --token=$TOKEN
      restartPolicy: Never
{{- end }}