{{- if and .Values.actionsProcessor.enabled .Values.actionsProcessor.worker.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "port-ocean.actionsProcessor.configMapName" . }}
  labels:
    {{- include "port-ocean.actionsProcessor.labels" . | nindent 4 }}
data:
  OCEAN__PORT__BASE_URL: {{ .Values.port.baseUrl | quote }}
  OCEAN__PORT__INGEST_URL: {{ .Values.port.ingestUrl | quote }}
  # Make sure only sync pods will initialize resources if both are enabled
  {{- if eq .Values.initializePortResources true}}
  OCEAN__INITIALIZE_PORT_RESOURCES: "false"
  {{- else }}
  OCEAN__INITIALIZE_PORT_RESOURCES: "{{ .Values.actionsProcessor.worker.initializePortResources | default false }}"
  {{- end }}
  OCEAN__ALLOW_ENVIRONMENT_VARIABLES_JQ_ACCESS: "{{ .Values.allowEnvironmentVariablesJqAccess | default true }}"
  {{- if .Values.clientTimeout }}
  OCEAN__CLIENT_TIMEOUT: "{{ .Values.clientTimeout }}"
  {{- end }}
  OCEAN__EVENT_LISTENER: '{"type":"ACTIONS_ONLY"}'
  {{- if .Values.integration.identifier }}
  OCEAN__INTEGRATION__IDENTIFIER: "{{ .Values.integration.identifier }}"
  {{- end }}
  {{- if .Values.integration.oauth.enabled }}
  OCEAN__OAUTH_ACCESS_TOKEN_FILE_PATH: "{{ .Values.integration.oauth.access_token_file_path }}"
  {{- end }}
  {{- if .Values.integration.config }}
  {{- range $key, $value := .Values.integration.config }}
  OCEAN__INTEGRATION__CONFIG__{{ $key | snakecase | upper }}: {{ $value | quote }}
  {{- end }}
  {{- end }}
  {{- if .Values.liveEvents.baseUrl }}
  OCEAN__BASE_URL: "{{ .Values.liveEvents.baseUrl }}"
  {{- end }}
  {{- if .Values.liveEvents.extraConfig }}
  {{- range $key, $value := .Values.liveEvents.extraConfig }}
  {{ $key | snakecase | upper }}: {{ $value | quote }}
  {{- end }}
  {{- end }}
  OCEAN__LAKEHOUSE_ENABLED: "{{ .Values.lakehouseEnabled | default false }}"
  OCEAN__ACTIONS_PROCESSOR__ENABLED: "true"
  {{- if .Values.actionsProcessor.extraConfig }}
  {{- range $key, $value := .Values.actionsProcessor.extraConfig }}
  OCEAN__ACTIONS_PROCESSOR__{{ $key | snakecase | upper }}: {{ $value | quote }}
  {{- end }}
  {{- end }}
{{- end }}