{{- if eq .Values.workload.kind "Deployment" }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "port-ocean.deploymentName" . }}
  labels:
    {{- include "port-ocean.labels" . | nindent 4 }}
spec:
  strategy:
    type: {{ .Values.workload.deployment.rolloutStrategy | default "Recreate" }}
  replicas: {{ if and (hasKey .Values.workload.deployment "replicas") (eq (.Values.workload.deployment.replicas | int) 0) }}0{{ else }}1{{ end }}
  selector:
    matchLabels:
      app: {{ include "port-ocean.deploymentName" . }}
      {{- include "port-ocean.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        app: {{ include "port-ocean.deploymentName" . }}
        {{- include "port-ocean.labels" . | nindent 8 }}
    spec:
      {{- with .Values.podServiceAccount.name }}
      serviceAccountName: {{ . }}
      {{- end }}
      terminationGracePeriodSeconds: {{ default 30 .Values.terminationGracePeriodSeconds }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- if .Values.podSecurityContext }}
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
        {{- end }}
      initContainers:
        {{- if .Values.extraInitContainers }}
        {{- tpl (toYaml .Values.extraInitContainers) . | nindent 8 }}
        {{- end }}
        {{- if .Values.postgresql.enabled }}
        - name: wait-for-postgresql
          image: postgres:17.5-alpine
          command:
            - sh
            - -c
            - |
              until pg_isready -h {{ .Release.Name }}-postgresql -p 5432 -U {{ .Values.postgresql.global.postgresql.auth.username }}; do
                echo "Waiting for PostgreSQL to be ready..."
                sleep 2
              done
              echo "PostgreSQL is ready!"
        {{- end }}
      containers:
      - name: {{ include "port-ocean.containerName" . }}
        imagePullPolicy: {{ .Values.imagePullPolicy }}
        image: '{{ .Values.imageRegistry }}/port-ocean-{{ .Values.integration.type }}:{{ .Values.integration.version | default "latest" }}'
        {{- if .Values.service.enabled }}
        securityContext:
          {{- if .Values.containerSecurityContext }}
          {{- toYaml .Values.containerSecurityContext | nindent 10 }}
          {{- end }}
        resources:
          {{- if .Values.resources }}
          {{- toYaml .Values.resources | nindent 10 }}
          {{- end }}
        ports:
        - containerPort: {{.Values.service.port}}
          protocol: TCP
        {{- end }}
        env:
        {{- if .Values.selfSignedCertificate.enabled }}
          - name: SSL_CERT_FILE
            value: /etc/ssl/certs/ca-certificates.crt
          - name: REQUESTS_CA_BUNDLE
            value: /etc/ssl/certs/ca-certificates.crt
        {{- end }}
        {{- if .Values.postgresql.enabled }}
          - name: OCEAN__DATABASE__HOST
            value: {{ include "port-ocean.name" . }}-postgresql
          - name: OCEAN__DATABASE__PORT
            value: '5432'
          - name: OCEAN__DATABASE__NAME
            value: {{ .Values.postgresql.global.postgresql.auth.database }}
          - name: OCEAN__DATABASE__USERNAME
            value: {{ .Values.postgresql.global.postgresql.auth.username }}
          - name: OCEAN__DATABASE__PASSWORD
            value: {{ .Values.postgresql.global.postgresql.auth.password }}
        {{- end }}
        {{- if .Values.extraEnv }}
          {{- tpl (toYaml .Values.extraEnv) . | nindent 10 }}
        {{- end }}
        envFrom:
          - configMapRef:
              name: {{ include "port-ocean.configMapName" . }}
          {{- include "port-ocean.additionalSecrets" . | nindent 10 }}
        volumeMounts:
        {{- if .Values.extraVolumeMounts }}
          {{- tpl (toYaml .Values.extraVolumeMounts) . | nindent 10 }}
        {{- end }}
        {{- if .Values.selfSignedCertificate.enabled }}
          - name: certificates
            mountPath: /usr/local/share/ca-certificates/cert.crt
            subPath: cert.crt
            readOnly: true
        {{- end }}
        {{- if eq .Values.integration.processExecution.mode "multi_process" }}
          - name: prometheus-metrics
            mountPath: "{{ .Values.integration.processExecution.prometheusMultiProcessDir }}"
        {{- end }}
        {{- if (.Values.livenessProbe).enabled}}
        livenessProbe:
          httpGet:
            path: /docs
            port: {{.Values.service.port}}
          initialDelaySeconds: {{ default 30 .Values.livenessProbe.initialDelaySeconds }}
          periodSeconds: {{ default 10 .Values.livenessProbe.periodSeconds }}
          timeoutSeconds: {{ default 5 .Values.livenessProbe.timeoutSeconds }}
          successThreshold: 1
          failureThreshold: {{ default 3 .Values.livenessProbe.failureThreshold }}
        {{- end }}
        {{- if (.Values.readinessProbe).enabled}}
        readinessProbe:
          httpGet:
            path: /docs
            port: {{.Values.service.port}}
          initialDelaySeconds: {{ default 30 .Values.readinessProbe.initialDelaySeconds }}
          periodSeconds: {{ default 10 .Values.readinessProbe.periodSeconds }}
          timeoutSeconds: {{ default 5 .Values.readinessProbe.timeoutSeconds }}
          successThreshold: {{ default 2 .Values.readinessProbe.successThreshold }}
          failureThreshold: {{ default 3 .Values.readinessProbe.failureThreshold }}
        {{- end }}
      volumes:
        {{- if .Values.extraVolumes }}
        {{- tpl (toYaml .Values.extraVolumes) . | nindent 8 }}
        {{- end }}
        {{- if eq .Values.integration.processExecution.mode "multi_process" }}
        - name: prometheus-metrics
          emptyDir: {}
        {{- end }}
        {{- if and .Values.selfSignedCertificate.enabled .Values.selfSignedCertificate.secret.useExistingSecret }}
        - name: certificates
          projected:
            sources:
              - secret:
                  name: {{ .Values.selfSignedCertificate.secret.name }}
                  items:
                    - key: {{ .Values.selfSignedCertificate.secret.key }}
                      path: cert.crt
        {{- else if .Values.selfSignedCertificate.enabled }}
        - name: certificates
          projected:
            sources:
              - secret:
                  name: {{ include "port-ocean.selfSignedCertName" . }}
                  items:
                    - key: crt
                      path: cert.crt
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
