{{- if eq .Values.secret.useExistingSecret false }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "port-ocean.secretName" . }}
  labels:
    {{- include "port-ocean.labels" $ | nindent 4 }}
type: opaque
data:
  OCEAN__PORT__CLIENT_ID: {{ required "port.clientId is required" .Values.port.clientId | b64enc | quote }}
  OCEAN__PORT__CLIENT_SECRET: {{ required "port.clientSecret is required" .Values.port.clientSecret | b64enc | quote }}
  {{- if .Values.integration.secrets }}
  {{- range $key, $value := .Values.integration.secrets }}
  OCEAN__INTEGRATION__CONFIG__{{ $key | snakecase | upper }}:
    {{ if kindIs "map" $value }}{{ $value | toJson | b64enc | quote }}{{ else }}{{ $value | b64enc | quote }}{{ end }}
  {{- end }}
  {{- end }}
{{- end }}