{{- if and .Values.executionAgent.enabled .Values.executionAgent.worker.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "port-ocean.executionAgent.serviceName" . }}
  labels:
    {{- include "port-ocean.executionAgent.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "port-ocean.executionAgent.selectorLabels" . | nindent 4 }}
{{- end }}