name: Release Charts

on:
  workflow_call:
    inputs:
      mark_as_latest:
        type: boolean
        description: 'Whether to mark the chart as the latest release'
        required: false
        default: true
  workflow_dispatch:
    inputs:
      mark_as_latest:
        description: 'Whether to mark the chart as the latest release'
        type: boolean
        required: false
        default: true
  push:
    branches:
      - main

permissions:
  contents: write
  packages: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install Helm
        uses: azure/setup-helm@5119fcb9089d432beecbf79bb2c7915207344b78 # v3.5

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Login to GHCR
        uses: docker/login-action@465a07811f14bebb1938fbed4728c6a1ff8901fc # v2.2.0
        with:
          registry: ghcr.io
          username: ${ GITHUB_REPOSITORY_OWNER }
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Configure Helm Repositories
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
    
      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.6.0
        with:
          skip_existing: true
          mark_as_latest: ${{ inputs.mark_as_latest }}
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - name: Push chart to GHCR
        run: |
          shopt -s nullglob
          for pkg in .cr-release-packages/*; do
            if [ -z "${pkg:-}" ]; then
              break
            fi
            helm push "${pkg}" oci://ghcr.io/${GITHUB_REPOSITORY_OWNER}/charts
          done       
