name: Helm Chart Validation

on:
  pull_request:
    paths:
      - charts/port-k8s-exporter/**

jobs:
  validate:
    defaults:
      run:
        working-directory: charts/port-k8s-exporter/
    runs-on: ubuntu-latest
    name: Validate Helm Chart

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Helm
      uses: azure/setup-helm@v3

    - name: Create k8s Kind Cluster
      uses: helm/kind-action@v1.5.0

    - name: Lint Helm Chart
      run: helm lint . --set secret.secrets.portClientId=test --set secret.secrets.portClientSecret=test

    - name: Validate Helm Chart
      run: |
        helm template --set secret.secrets.portClientId=test \
        --set secret.secrets.portClientSecret=test \
        --set configMap.config=test . | kubectl apply --dry-run=client -f -
